name: Build and Test

on:
  push:
    branches: [master, develop, feature/**, refactor/**]
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    name: Dotnet build
    steps:
      - uses: actions/checkout@v4
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            7.x.x
            8.x.x
      - name: Build
        run: dotnet build --configuration Release
      - name: Test
        run: dotnet test --filter "Network!=External" --configuration Release --logger trx --results-directory test-results/${{ matrix.os }} --no-build
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.os }}
          path: ./test-results/${{ matrix.os }}
        if: ${{ always() }}
